.chatbox{
    // background-color:firebrick;
    display: flex;
    flex-direction: column;
    height: 100vh;

    &--messages{

        flex-grow: 1;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 0.25rem;
          }
          
          &::-webkit-scrollbar-track {
            background: none;
          }
          
          &::-webkit-scrollbar-thumb {
            background: $s-color;
          }
    }
    &--input{
        display: flex;
        border-radius: 20px;
        background-color: $bg-color;
        margin: .5rem ;
        padding: .5rem 1rem;
        box-shadow: 2px 5px 43px -9px rgba(0,0,0,0.46);

        &--form{
            flex-grow: 1;
            display: flex;

            &--input{
                flex-grow: 1;
                border: none;
                border-radius: 10px;
                padding: .5rem 1rem;
                margin-right: .3rem;
            }
            &--btn{
                background-color: transparent;
                border: none;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                & svg{
                    color: $s-color;
                }
            }
        }

    }

}


.css-y1c0xs, [data-css-y1c0xs] {
    &::-webkit-scrollbar {
        width: 0.25rem;
      }
      
      &::-webkit-scrollbar-track {
        background: none;
      }
      
      &::-webkit-scrollbar-thumb {
        background: $s-color;
      }
}