.list{
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Add vertical scrollbar */
    width: 100%;
    // background: olivedrab;
}

.item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    &--item{
        margin: 1rem 0;
    }
    &--item-text{
        font-size: 1.2rem;
        margin-left: 1rem;
        min-width: 5rem;
        text-align: center;
        text-overflow: clip;
    }

    & img{
          border-radius: 50%;
          width: 3rem;
          min-width: 3rem;
    }
}

.profile-link{
    color: $s-color;
    margin-left: auto;
    margin-right: .7rem;
    padding: 0;
    & svg{
        max-width: .6rem;
    }
  }
  
  .chat-link{
    // display: none;
    color: $p-color;
    padding: 0;
    & svg{
        max-width: .6rem;
    }
  }

  .list::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  .list::-webkit-scrollbar-track {
    background: none;
  }
  
  .list::-webkit-scrollbar-thumb {
      border-radius: 2px;
    background: $fg-color;
  }

  @media(max-width:650px){
    .item-list{
        &--item-text{
            min-width: 3rem;
            font-size: 1rem;
            margin-left: .8rem;
        }
  }


  .profile-link{
    color: $s-color;
    margin-left: auto;
    margin-right: .3rem;
    padding: 0;
    & svg{
        max-width: .5rem;
    }
  }
  
  .chat-link{
    color: $p-color;
    padding: 0;
    & svg{
        max-width: .5rem;
    }
  }

}