.Friends-content{
    max-width: 80%;
    height: 90vh;
    margin:0  auto;
    margin-top:2rem ;
}

.Friends-tab{
    background: $bg-color;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    
    &__list{
        margin: 0;
        padding: 0 0 .5rem 0 ;
        background: $bg-color;
        border-bottom: solid 1px darken($bg-color, 5); ;
        height: 2.5rem;
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        &__tab{
          cursor: pointer;
            padding: .2rem;
            &--selected {     
                background: $white-color ;
                border-color: $s-color;
                font-weight: 700;
                color: $p-color;
                font-weight: 600;
                border-radius: 10px;
              }
        }
    }
    
    &__panel{
        margin: auto;
        max-width: 80%;
    }
    

    &::-webkit-scrollbar {
        width: 0.3rem;
      }
      
      &::-webkit-scrollbar-track {
        background: none;
      }
      
      &::-webkit-scrollbar-thumb {
          border-radius: 2px;
        background: $fg-color;
      }
}

@media(max-width:650px){
  .Friends-tab{
    background: $bg-color;
    &__list{  
      padding: 0;
      &__tab{
          padding: .2rem;
          font-size: .8rem;
      }
    }
  }
}