.friendadd-form{
    // background: magenta;
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        // background: olive;
        height: 1rem;
        width: 100%;
        margin-bottom: 1rem;
        border: none;
        color: $p-color;
        padding: .8rem .2rem;
        font-size: 1.3rem;
    }
    button{
        border: none;
        padding: .5rem 1rem;
        font-size: 1.5rem;
        border-radius: 10%;
        background: $white-color;
        color: $p-color;
    }
}