.Chatitem-list{
    margin: 1rem 0 1rem -2.3rem;
    list-style: none;
    text-decoration: none;
    
}

.last-chat-elem{
    
    margin-bottom: .4rem;
    // border-bottom: 1px solid palegoldenrod;
    // padding: .3rem 0;
    overflow: hidden;
    &__container{
        display: flex;
        align-items: center;
        transition:500ms;
        height: 4rem;
        // background: saddlebrown;
    }
    &__content{
        display: flex;
        flex-direction: column;
        // background: indianred;
        width: 100%;
        &__data{

            display: flex;
            justify-content: space-between;
            padding: .4rem 0 0 0;
            // padding: .2rem;
            height: 2rem;
            // position: relative;
            // left: -999px;
            // transition:400ms;
            // background: mediumslateblue;
        }
    }
    &__user{
        padding-top: .5rem;
        width: 2rem;
        font-size: 1rem;
        font-weight: 600;
    }
    &__message{  
        height: 1rem;
        // background: darkgoldenrod;
        font-size: .8rem;
        width: 9rem;
        overflow: hidden;
    }
    &__time{
        font-size: .7rem;
        margin-right: .2rem;
    }
    & img{
        width: 60px;
        height: 60px;
        border-radius: 50px;
        margin-right: 1rem;
    }
    &__link{
        cursor: pointer;
        text-decoration: none;
        // background: magenta;
        // color: magenta;
    }
}


.navbar:hover .last-chat-elem__content__data {
    left: 0;
  }