.main-content{
    margin: 0;
    margin-left: 5rem;
    padding: 0;
}

.navbar {
    z-index: 9999;
    position: fixed;
    background-color: $bg-color;
    transition: width 600ms ease;
    height: 100%;
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
  }

.nav-item:nth-child(3){
    border-bottom: solid 1px darken($bg-color, 11);
    margin-top: 1rem;
}
  .nav-item:last-child {
    border-top: solid 1px darken($bg-color, 11);;
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: $white-color;
    text-decoration: none;
    // filter: grayscale(100%) opacity(0.7);
    transition:500ms;

    &__pp{
      width: 60px;
      height: 60px;
      border-radius: 50px;
      margin-left: .2rem;
    }
  }

  .nav-logo{
    height: 5rem;
  }
  
// .nav-link:hover {
//     filter: grayscale(0%) opacity(1);
//     background: $p-color;
//     color: $s-color;
//   }

  .link-text {
    position: relative;
    left: -999px;
    font-size: 1.4rem;
    transition:400ms;
    margin-left: .5rem;
    margin-right: 1rem;
  }



  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
  }

  .fa-primary {
    
    color: #ff7eee;
  }

  .fa-secondary {
    color: #df49a6;
  }


  .fa-primary,
.fa-secondary {
  transition:500ms;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    background: $fg-color;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo svg {
    transform: rotate(0deg);
    transition:500ms;
  }


  .logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition:500ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}


.navbar {
  top: 0;
  width: 4.2rem;
  height: 100vh;
}

.navbar:hover {
  width: 17rem;
}

.navbar:hover .link-text {
  left: 0;
}
.navbar:hover {
  .item-list{
    &--item-text{
      display: inline;
    }
    .profile-link{
      display: inline;
    }
    .chat-link{
      display: inline;
    }
  }
}
.navbar:hover .logo svg
{
  margin-left: 11rem;
}

.navbar:hover .logo-text
{
  left: 0px;
}


// @media only screen and (max-width: 600px) {
//     .navbar {
//       bottom: 0;
//       width: 100vw;
//       height: 5rem;
//     }
  
//     .logo {
//       display: none;
//     }
  
//     .navbar-nav {
//       flex-direction: row;
//     }
  
//     .nav-link {
//       justify-content: center;
//     }
  
//     main {
//       margin: 0;
//     }
//   }

// @media only screen and (min-width: 600px) {
  
//     .navbar {
//       top: 0;
//       width: 5rem;
//       height: 100vh;
//     }
  
//     .navbar:hover {
//       width: 17rem;
//     }
  
//     .navbar:hover .link-text {
//       left: 0;
//     }
//     .navbar:hover {
//       .item-list{
//         &--item-text{
//           display: inline;
//         }
//         .profile-link{
//           display: inline;
//         }
//         .chat-link{
//           display: inline;
//         }
//       }
//     }
//     .navbar:hover .logo svg
//     {
//       margin-left: 11rem;
//     }
  
//     .navbar:hover .logo-text
//     {
//       left: 0px;
//     }
//   }