.main-content{
    margin: 0;
    margin-left: 4.5rem;
    padding: 0;
}

.navbar {
    z-index: 9999;
    position: fixed;
    background-color: $bg-color;
    top: 0;
    width: 4.5rem;
    height: 100vh;
    
  }

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    width: 100%;
    margin: 1rem 0 0 0;
  }

.nav-item:nth-child(1){
    margin-top: 1rem;
    margin-bottom: 100%;
}
  .nav-item:last-child {
    border-top: solid 1px darken($bg-color, 3);;
    margin-top: auto;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: $white-color;
    text-decoration: none;
    transition:500ms;

    &__pp{
      width: 60px;
      height: 60px;
      border-radius: 50px;
      margin-left: .2rem;
      border: medium solid $white-color;
    }
  }


  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1rem;
  }

  .fa-primary {
    color: #ff7eee;
  }

  .fa-secondary {
    color: #df49a6;
  }


  .fa-primary,
.fa-secondary {
  transition:500ms;
}





