@import './settings.scss';
@import './Componnents/container.scss';
@import './Componnents/Box_Layout.scss';
@import './Componnents/LogInForm.scss';
@import './Componnents/SideBar.scss';
@import './Componnents/Friends-list.scss';
@import './Componnents/Chat.scss';
@import './Componnents/Message.scss';
@import './Componnents/LastChat.scss';
@import './Componnents/FriendsPage.scss';
@import './Componnents/FriendAdd-Form.scss';
@import './Componnents/FriendRequest.scss';
@import './Componnents/ProfilePage.scss';
body {
  margin: 0;
  padding: 0;
  font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $fg-color;
  font-size: $font-size;
  min-width: 360px;
  color: $white-color;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}